# Binaries
*.apk
*.so
*.jar
*.xz

# Folders
apktool_out/
jadx_out/
decompiled/
.gemini/
.idea/
.vscode/
__pycache__/

# Logs & Temp
*.log
*.tmp
*.bak
adb.exe
platform-tools/

# User Data
output/
v67_extracted_data.json
decrypted_strings.json
*.keystore
